# <center> 16th Feb Database Assignment

Q 1:- What is a database? Differentiate between SQL and NoSQL databases.

Ans 1:- A database is a structured collection of data that is organized in a way that makes it easy to manage, access, and update the data. In other words, a database is a system that stores and manages digital data, which can be anything from customer records to financial transactions, product inventories, or user-generated content.

SQL databases (or Relational databases) are based on the relational model, which organizes data into tables with predefined columns and rows. SQL stands for Structured Query Language, and it is a language used to manage and manipulate data in relational databases. SQL databases are known for their scalability, reliability, and data consistency. Some popular SQL databases include Oracle, MySQL, and PostgreSQL.

On the other hand, NoSQL databases (or non-relational databases) are designed to store and manage unstructured or semi-structured data. They use various models to organize data such as key-value pairs, document-based, graph-based, or column-based. NoSQL databases are known for their flexibility, scalability, and high performance, especially for handling large amounts of unstructured data. Some popular NoSQL databases include MongoDB, Cassandra, and Redis.

In summary, the main differences between SQL and NoSQL databases are their data models, query languages, and use cases. SQL databases are more suitable for handling structured data and complex transactions, while NoSQL databases are ideal for handling large volumes of unstructured data with high read and write throughput requirements.

# Q 2:- What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans 2:- DDL (Data Definition Language) is a category of SQL commands that are used to create, modify, and delete database objects such as tables, indexes, views, and constraints. DDL statements are used to define the structure and organization of the database, and they are executed only by users with special privileges, such as database administrators.

The four main DDL commands are CREATE, DROP, ALTER, and TRUNCATE, and their functions are as follows:

1. CREATE: This command is used to create a new database object, such as a table, index, view, or constraint. For example, the following SQL statement creates a new table called "customers" with three columns:

CREATE TABLE customers (
customer_id INT PRIMARY KEY,
customer_name VARCHAR(50),
customer_email VARCHAR(50)
);

2. DROP: This command is used to delete an existing database object, such as a table, index, view, or constraint. For example, the following SQL statement drops the "customers" table:

DROP TABLE customers;

3. ALTER: This command is used to modify an existing database object, such as adding or deleting columns from a table or changing the data type of a column. For example, the following SQL statement adds a new column called "customer_address" to the "customers" table:

ALTER TABLE customers ADD customer_address VARCHAR(100);

4. TRUNCATE: This command is used to delete all the data in a table, while keeping the table structure intact. For example, the following SQL statement deletes all the data in the "customers" table:

TRUNCATE TABLE customers;

In summary, DDL commands are used to define and manage the structure of a database, and they are essential for creating and maintaining a well-organized and efficient database system.

# Q3:- What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans 3:-DML (Data Manipulation Language) is a category of SQL commands that are used to insert, update, and delete data from a database. DML commands are used to modify the contents of the database, and they can be executed by any user with the necessary permissions.

The three main DML commands are INSERT, UPDATE, and DELETE, and their functions are as follows:

1. INSERT: This command is used to add new data to a table. The syntax of the INSERT statement includes the name of the table, the columns to be inserted, and the values to be inserted. For example, the following SQL statement inserts a new record into the "customers" table:

INSERT INTO customers (customer_id, customer_name, customer_email)
VALUES (1, 'John Doe', 'johndoe@example.com');

2. UPDATE: This command is used to modify existing data in a table. The syntax of the UPDATE statement includes the name of the table, the column to be updated, and the new value. The WHERE clause specifies which records should be updated. For example, the following SQL statement updates the email address of a customer with ID 1:

UPDATE customers
SET customer_email = 'johndoe@gmail.com'
WHERE customer_id = 1;

3. DELETE: This command is used to remove data from a table. The syntax of the DELETE statement includes the name of the table and the WHERE clause that specifies which records should be deleted. For example, the following SQL statement deletes a customer record with ID 2:

DELETE FROM customers
WHERE customer_id = 2;

DML commands are used to modify the data in a database, and they are essential for adding, updating, and deleting records. By using these commands, users can keep the database up-to-date and accurate.

# Q4:- What is DQL? Explain SELECT with an example.

Ans 4:- DQL (Data Query Language) is a category of SQL commands that are used to retrieve data from a database. DQL commands are used to query the contents of the database, and they can be executed by any user with the necessary permissions.

The most common DQL command is SELECT, which is used to retrieve data from one or more tables in a database. The syntax of the SELECT statement includes the name of the columns to be retrieved and the name of the table(s) to be queried.

select customer_name from customer;

# Q5:- Explain Primary Key and Foreign Key.

Ans 5:- In a relational database, a primary key and a foreign key are two important concepts that are used to establish relationships between tables.

A primary key is a column or a set of columns in a table that uniquely identifies each row in that table. A primary key is used to ensure that each row in a table is unique and that the table can be accessed efficiently. A primary key is usually defined when a table is created and can be used as a reference by other tables to establish relationships.

For example, let's consider a table named "employees" with columns "employee_id", "employee_name", "employee_email", and "employee_department". In this table, the "employee_id" column can be set as the primary key because it is unique and can be used to identify each employee in the table.

A foreign key is a column or a set of columns in one table that refers to the primary key of another table. The purpose of a foreign key is to establish a relationship between two tables, such that the values in the foreign key column of one table must match the values in the primary key column of the other table.

For example, let's consider another table named "orders" with columns "order_id", "order_date", "customer_id", and "order_total". In this table, the "customer_id" column can be set as a foreign key because it refers to the primary key of the "customers" table. This means that the "customer_id" values in the "orders" table must match the "customer_id" values in the "customers" table.

In summary, a primary key is a unique identifier for each row in a table, while a foreign key establishes a relationship between two tables by linking the primary key of one table to a column in another table. These concepts are essential in designing and managing relational databases.

# Q6 :- Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
#code to connect MySql with python

import mysql.connector

mydb= mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "password"
)

mycursor = mydb.cursor()

In the above code, we first import the mysql.connector module and use the connect() method to establish a connection to the MySQL database. We need to provide the database connection details, such as the host, username, password.

After establishing the connection, we create a cursor object using the cursor() method of the database connection object. The cursor object allows us to execute SQL statements on the database.

The execute() method is used to execute an SQL statement on the database using the cursor object. It takes an SQL statement as its parameter and returns the result of the statement, if any. Here's an example of how to use the execute() method to execute a SELECT statement:

In [ ]:

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

In above code, we call the execute() method on the cursor object, passing the sql query as its parameter. This executes the SELECT statement on the database and returns the result.

The fetchall() method is used to fetch all the rows returned by the SELECT statement. It returns a list of tuples, where each tuple represents a row in the result set. You can then loop through the result set and print each row, as shown in the code above.

In summary, the cursor() method is used to create a cursor object, which allows you to execute SQL statements on the database. The execute() method is used to execute an SQL statement on the database using the cursor object, and the fetchall() method is used to retrieve the results of the SQL statement.

Q7:- Give the order of execution of SQL clauses in an SQL query.

Ans 7:- The order of execution of SQL clauses in a query is as follows:

* FROM clause: This clause identifies the table(s) from which data will be retrieved.

* JOIN clause: If multiple tables are involved in the query, the JOIN clause is used to combine them based on common columns.

* WHERE clause: This clause is used to filter the data retrieved from the tables based on certain conditions.

* GROUP BY clause: This clause is used to group the data retrieved from the tables based on one or more columns.

* HAVING clause: If you want to filter the grouped data based on certain conditions, the HAVING clause is used.

* SELECT clause: This clause is used to specify the columns that should be included in the output.

* DISTINCT clause: This clause is used to eliminate duplicate rows from the output.

* ORDER BY clause: This clause is used to sort the output based on one or more columns.

* LIMIT clause: This clause is used to limit the number of rows returned in the output.

It is important to note that not all of these clauses are required in every SQL query. The order of execution may also change depending on the specific query being executed.

# <center> End of Assignment